doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    
  body
    block content
    script(src="/knockout/dist/knockout.js")
    script(src="/socket.io/socket.io.js")
    block scripts

